include ../helpers/_variables

doctype
html
	head
		include layout/_head
	body
		include pages/_ie8
		.wrapper
			// HEADER
			.header
				.header-wrapper
					include layout/_header
			.clearfix

			// MAIN
			.main
				include pages/price


			// FOOTER
			.footer
				.footer-wrapper
					include layout/_footer

		// Google Analytics

		// Yandex.Metrika counter

		// JS
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="../js/scripts.min.js")

