
<div class="menu-wrapper">
  <ul class="menu header__menu" id="menu">
      <li class="menu__item"><a class="menu__link" href="about.html">О компании</a></li>
      <li class="menu__item"><a class="menu__link" href="price.html">Цены</a></li>
      <li class="menu__item"><a class="menu__link" href="services.html">Услуги и продукты</a></li>
      <li class="menu__item"><a class="menu__link" href="action.html">Акции</a></li>
      <li class="menu__item"><a class="menu__link" href="contacts.html">Контакты</a></li>
  </ul>
</div>
<div class="clearfix"></div>