//- Название организации
-
	var companyName = 'Компания «Пластик & алюминий»'
-
	var companyNameShort = 'Пластик & алюминий'

-
	var companyPhone = '+7 495 534–65–33'


//- Список рекомендуемых товаров
-
	var products_list_recommended = [
		"Edinburgh by REHAU",
		"Estet by REHAU",
		"REHAU DELIGHT-Design",
		"REHAU BRILLANT-Design",
		"REHAU Geneo",
		"Цветные окна",
		"Стеклопакеты",
		"Остекление балконов и лоджий",
		"Отделка и утепление балконов",
		"Балконные блоки"
	];
