- var  current = 'Цены'

h1 Цветные пластиковые окна
p Ламинируем профиль ПВХ для предания окнам цвета и фактуры дерева

.content-area
	// Sidebar
	include ../layout/_sidebar.html

	// Content
	.container


